@import '../../app/index.scss';

.header__burger {
    grid-column: 1 / 2;

    #header__burger-checkbox {
        display: none;

        &:checked {
            ~ .header__burger-button #header__burger-line {
                background-color: inherit;
            }

            ~ .header__burger-button #header__burger-line::before {
                transform: translateY(10px) rotate(45deg);
            }

            ~ .header__burger-button #header__burger-line::after {
                transform: translateY(-10px) rotate(-45deg);
            }

            ~ .header__burger-menu {
                transform: translateX(0);
            }
        }
    }

    .header__burger-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        
        %header__burger-line {
            display: block;
            height: 7px;
            width: 40px;
            background-color: $header-burger-line;
            border-radius: 4px;
            transition: 300ms
        }

        #header__burger-line {
            @extend %header__burger-line;
            position: relative;

            &::before {
                content: '';
                @extend %header__burger-line;
                position: absolute;
                bottom: 10px;
            }

            &::after {
                content: '';
                @extend %header__burger-line;
                position: absolute;
                top: 10px;
            }
        }
    }

    .header__burger-menu {
        // Внешний вид
        background-color: aliceblue;
        border-right: 1px solid black;
        padding: 10px;

        // Размер
        min-width: 200px;
        height: calc(100vh - 45px);

        // Расположение
        position: absolute;

        // Анимация
        transform: translateX(-100%);
        transition: 300ms;

        .header__user {
            justify-content: center;
            align-items: center;
        }

        .header__burger-nav {
            display: grid;
            place-items: center;
            padding: 20px;
        }
    }
}
