.header__search {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: auto 45px;
    grid-template-rows: 45px;

    .header__search-container {
        grid-column: 1 / 2;
        display: grid;
        grid-template-columns: auto 45px;
        grid-template-rows: 45px;

        .header__search-form {
            grid-column: 1 / 2;
            grid-row: 1 / 2;

            .header__search-input {
                width: 100%;
                height: 45px;
            }
        }

        .header__search-hide {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        &.disable {
            visibility: hidden;
        }
    }

    .header__search-unlock {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 45px;
        height: 45px;
    }

}