.header__user {
    grid-column: 3 / 4;
    display: flex;
    gap: 5px;

    .header__user-logo {
        width: 45px;
        height: 45px;
        background: url(./icon/user.png) no-repeat;
        background-size: 45px;
    }

    .header__user-name {
        display: flex;
        align-items: center;
        height: 45px;
        padding: 0 5px;
    }
}