* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    padding: 20px;

    .post {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 1fr);
        background-color: #eeeeee;
        border-radius: 8px;
        padding: 12px;
    }
}
