* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 280px);
    gap: 20px;

    .post {
        background-color: #eeeeee;
        border-radius: 8px;
        padding: 12px;
        margin-bottom: 20px;

        &__container {
            overflow: hidden;
            display: grid;
            place-items: center;

            &-image {
                width: 100%;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;

            & > .post__description {
                overflow: auto;
            }
        }

        &__control-panel {
            display: flex;
            align-items: center;

            button {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }

        &:first-child {
            grid-column: 1 / 2;
        }
        &:nth-child(2) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        &:nth-child(3) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        &:nth-child(4) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        &:nth-child(5) {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
    }

    .large {
        width: 570px;
        grid-template-columns: 276px 290px;
        grid-template-rows: 200px 50px;
    }

    .medium, .small {
        width: 270px;
    }

    .medium .post__container-image {
        width: 260px;
    }

    .small .post__container-image {
        width: 130px;
    }

    .small .post__description {
        display: none;
    }

    .small .post__control-panel {
        grid-column: 1;
    }
}
